.grids {
    margin: 0;
    padding: 0;
    margin: auto;
    width: 50rem;
    max-width: 90%;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 100%;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: left;
    margin-left: 4rem;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: left;
    margin-left: 2rem;
    margin: 1rem;
}

/* .ques__options {
    margin-bottom: 2rem;
} */
