<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="home__welcome">
        <h1>Welcome to HeldTest!</h1>
    </div>

<%- include('../includes/end.ejs') %>